# .github/workflows/rspec.yml
name: rspec
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

env:
  RAILS_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: test_db
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -ppassword"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.2       # プロジェクトの Ruby バージョンに合わせて変更
          cache-bundle: true

      - name: Install dependencies
        run: |
          gem install bundler --no-document
          bundle install --jobs 4 --retry 3

      - name: Prepare database
        env:
          MYSQL_HOST: 127.0.0.1
          MYSQL_USER: root
          MYSQL_PASSWORD: password
        run: |
          cp config/database.ci.yml config/database.yml
          bundle exec rails db:create db:schema:load

      - name: Run RSpec
        run: |
          bundle exec rspec
