# .github/workflows/rubocop.yml
name: rubocop
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

env:
  RAILS_ENV: test

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.2 # 使っている Ruby バージョンに合わせて変更してください
          cache-bundle: true

      - name: Install dependencies
        run: |
          gem install bundler --no-document
          bundle config set --local deployment 'false' || true
          bundle install --jobs 4 --retry 3

      - name: Run RuboCop
        run: |
          bundle exec rubocop --format simple
