# .github/workflows/rubocop.yml
name: rubocop
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

env:
  RAILS_ENV: test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.0' 
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop
